html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(28, 31, 46);
}

#introText {
  color: white;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(28, 31, 46);
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.username {
  font-family: "Open Sans", sans-serif;
  /* letter-spacing: 2px; */
  /* font-size: 20px; */
  height: 50px;
  line-height: 30px;
  text-align: center;
  background-color: rgb(112, 132, 150);
  /* border-radius: 1px; */
}

.listOfFiles {
  margin-left: 10px;
  margin-right: 10px;
  width: 320px;
  padding: 20px;
  border: 2px solid transparent;
  transition: opacity 2s ease, border-color 1s ease;
  background-color: rgb(31, 38, 56);
  /* border-radius: 5px; */
}

.file {
  font-family: "Nunito", sans-serif;
  font-size: 13px;
  color: white;
  height: 60px;
  /* line-height: 40px; */
  /* text-align: center; */
  /* vertical-align: middle; */
  background-color: rgb(62, 71, 101);
  transition: background-color 0.7s ease;
  margin: 15px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid; */
  /* border-radius: 5px; */
}

.file:hover {
  background: rgb(209, 171, 88);
}

#containUserAndFiles {
  display: flex;
  flex-direction: horizontal;
  background-color: rgb(28, 31, 46);
  width: 1000px;
  height: 100%;
}

.user {
  margin-left: 10px;
}

.hover {
  border-color: rgba(255, 0, 0, 0.5);
}

.dragOutline {
  /* border-radius: 8px; */
  outline: 2px solid orange;
}

.filename {
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  /* background: red; */
  height: 60%;
}

.fileInfo {
  /* background: green; */
  display: flex;
  flex-direction: row;
  height: 40%;
}

.fileType {
  font-size: 10px;
  width: 100%;
  text-align: right;
  margin: 5px 10px 10px 0px;
}
