html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.newComputer {
  display: flex;
  flex-direction: column;
  background-color: purple;
  width: 100px;
  height: 50px;
}

.ComputerName {
  background-color: green;
}

#otherComputer {
  display: flex;
  flex-direction: column;
  background-color: orange;
}

.fileElement {
  margin-top: 15px;
  width: 200px;
  height: 30px;
  border: 2px solid black;
  background-color: red;
}

.myfiles {
  margin-top: 15px;
  width: 100%;
  height: 30px;
  border: 2px solid black;
  background-color: Green;
}

[id="0"] {
  background-color: orange;
}

[id="1"] {
  background-color: cyan;
}

[id="3"] {
  background-color: white;
}
/* ************* */

.username {
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: green;
}

.listOfFiles {
  margin-left: 10px;
  /* background-color: red; */
}

.file {
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  background-color: lightgrey;
  transition: background-color 0.3s ease;
  margin: 10px;
  border: 1px solid black;
}

.file:hover {
  background: grey;
}

#containUserAndFiles {
  display: flex;
  flex-direction: horizontal;
  background-color: lightblue;
  width: 1000px;
  height: 100%;
}

.hover {
  outline: 3px solid rgba(255, 0, 0, 0.5);
}

.dragOutline {
  outline: 5px solid orange;
}
